@import url('https://fonts.googleapis.com/css?family=Hind');
*{
    margin: 0;
    padding: 0;
}
body{
    font: 400 14px/1.5 'Hind', sans-serif;
    color: #565655;
    font-size: 14px;
}
.container{
    max-width: 80.7%;
    margin:0 auto;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
p, h2, h3{
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}

         /*HEADER*/
.info-block{
    background-color: #ededed;
    width:100%;
    height: 60px;
}
.contact-information {
    padding: 11px 0 13px 0;
}
.contact-block{
    float: left;
}
.country {
    float: left;
    background-color: #212121;
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
}
.country i{
    font-size: 18px;
}
.country-arrow {
    padding-left: 14px;
    position: relative;
    top: 2px;
    left: 2px;
}
.fa-phone{
    position: relative;
    left: 2px;
    top: 2px;
}
.fa-location-arrow{
    position: relative;
    top: 2px;
}
.call, .address{
    float: left;
    padding: 4px 10px 0 10px;
    color: #565655;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.call i,
.address i{
    font-size: 21px;
    color: #000000;
    padding-left: 5px;
}
.call-toll{
    font-family: "HindSemiBold";
    font-weight: 600;
}
.soc-link{
    float: right;
}
.soc-link ul {
}
.soc-link li{
    padding: 9px 8.8px 0 13px;
}
.header-bottom{
    float: left;
    padding: 33px 0 33px 0;
    width:100%;
}
.logo{
    float: left;
}
.subtitle-block{
    float: right;
    margin-top: 17px;
}
.text{
    border-right: 1px solid #e6e6e6;
}
.icons{
    float: left;
    margin: -2px 10px;
    color: #000;
    font-size: 18px;
}
.title{
    color: #000000;
    font-weight: 700;
}
.subtitle{
    color: #7a7a7a;
    font-weight: 400;
}
.menu{
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 72px;
    z-index: 9999;
}
.mobile-menu{
    display: none;
}
.navigation{
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a:hover{
    border-bottom: 5px solid #bd2631;
    color: #bd2631;
}
nav ul{
    opacity: 0.8;
    display: flex;
}
nav li a{
    display: flex;
    align-items: center;
    height: 67px;
    color: #fff;
    font-size: 16px;
    padding: 0 15px 0 15px;
    text-transform: uppercase;
}
a.n-home {
    border-bottom: 5px solid #db2631;
}
.search{
    color: #fff;
    font-size: 19px;
}


    /*MAIN CONTENT*/
main{
    position: relative;
    bottom: 72px;
    margin-bottom: -72px;
}
.slider{
    background-color: #000;
    position: relative;
}

.title-block{
    background-color: #000;
    height: 798px;
}

.slider-item{
    background: url(../img/img2.png) no-repeat center right;
    position: relative;
    background-size: contain;
}
.arrows{
    position: absolute;
    top: 43.7%;
    color: #fff;
    font-size:80px;
    z-index: 99;
}
.arrow-right{
    right:20px;
}
.arrow-left{
    left: 40px;
}
.slider-content{
    padding: 23% 0 22% 0;
    display: flex;
    flex-direction: column;
    max-width: 80.7%;
    margin: 0 auto;
}
.slider-content-text h2{
    color: #bd2631;
    font-size:30px;
}
.slider-content-text h1{
    color: #fff;
    font-size:40px;
}
.slider-content-text p{
    font-size:28px;
    color: #fff;
}

    /*QUOTE*/
.main-quote{
    height:auto;
    background-color: #bd2631;
}
.main-quote-container{
    max-width: 80.7%;
    margin:0 auto;
    height:129px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-quote-text h2{
    color: #ffffff;
    font-family: Hind;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}
.main-quote-text h3{
    color: #ffffff;
    font-family: Hind;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}
.main-quote-button{
    background-color: #ffffff;
}
.main-quote-button button{
    padding: 9px 29px 9px 30px;
}
.main-quote-button a{
    color: #000000;
    font-family: Hind;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px
}

    /*PRODUCT*/
.main-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-bg{
    background: url("../img/layer-100.png") no-repeat center / cover #000;
    width: 50%;
    height: 100%;
}
.product-title{
    display: flex;
    flex-direction: column;
    height: 454px;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.product-title h2{
    color: #bd2631;
    font-family: Hind;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 28px;
}
.product-title p{
    color: #ffffff;
    font-family: Hind;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.main-product-img{
    height: 454px;
}
.img-item-1, .img-item-2, .img-item-3{
    width: 25%;
}
.img-item-1 img, .img-item-2 img, .img-item-3 img{
    width: 100%;
    height: 454px;
}
.img-icon-1, .img-icon-2{
    display: flex;
    align-items: center;
    width: 25%;
}
.img-icon-1 img, .img-icon-2 img{
    margin: 0 auto;
}
.item-bg2{
    background: url("../img/layer-103.png") no-repeat center / cover #000;
    width: 50%;
}
.product-bottom{
    display: flex;
}
.item-bg3{
    background: url("../img/layer-104.png") no-repeat center / cover #000;
    width: 50%;
}
.img-icon-3{
    background-color: #bd2631;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width:25%;
}
.img-icon-3 i{
    margin:0 auto;
    font-size: 195px;
}
.battery{
    color: #bd2631;
    font-family: Hind;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 28px;
    margin-right: 50%;
}
