/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1300px){
    .item-bg, .item-bg2 {
    width: 70%;
    }
    .item-bg3{
        width: 70%;
        order: 4;
    }
    .img-item-1, .img-item-2{
        width: 30%;
    }
    .img-item-3{
        width: 30%;
        order: 3;
    }
    .img-icon-3{
        order: 2;
        width:30%;
    }
    .img-icon-1, .img-icon-2 {
        width: 35%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1060px) {
    .info-block{
        height:130px;
    }
    .country{
        width: 100px;
        float: none;

    }
    .call, .address{
        float: none;
        padding: 10px 0 0 0;
    }
    .logo{
        float: none;
        text-align: center;
    }
    .subtitle-block{
        float: none;
        text-align: center;
    }
    .slider-content-text h1{
        font-size:30px;
    }
    .slider-content-text p{
        font-size:20px;
    }
    .main-quote-text h2{
        font-size: 23px;
    }
    .main-quote-text h3{
        font-size:18px;
    }
    .arrows{
        top: 42.5%;
        font-size: 74px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container{
        max-width: 90%;
    }
    .main-quote-container{
        max-width: 90%;
    }
    .navigation{
        width: 100%;
    }
    .main-quote-button button {
         padding: 5px 20px ;
    }
    .item-bg, .item-bg2, .item-bg3 {
        width: 60%;
    }
    .img-item-1, .img-item-2, .img-item-3, .img-icon-3{
        width: 40%;
    }
    .img-icon-1, .img-icon-2{
        width: 30%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.info-block{
        height: 160px;
    }
    main {
        position: relative;
        bottom: 50px;
        margin-bottom: -50px;
    }
    .navigation{
        height: 50px;
    }
    .menu {
        height: 50px;
    }
    .navigation ul{
        display: none;
    }
    .mobile-menu{
        display: block;
        color: #fff;
        font-size: 26px;
    }
    .contact-block{
        width:50%;
    }
    .arrow-left{
        left: 15px;
    }
    .arrow-right{
        right: 15px;
    }
    .slider-content{
        padding-top: 25%;
    }
    .slider-content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .arrows {
        top: 40.5%;
        font-size: 60px;
    }
    .arrow-left{
        left: 15px;
    }
    .arrow-right{
        right: 15px;
    }
    .slider-content{
        padding-top: 25%;
    }
    .slider-content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .arrows {
        top: 40.5%;
        font-size: 60px;
    }
    .slider-content-text h2{
           font-size:20px;
    }
    .slider-content-text h1{
        font-size:24px;
    }
    .slider-content-text p{
        font-size:16px;
    }
    .slider-item{
        background: url(../img/img2.png) no-repeat center;
        background-size: 100%;
    }
    .main-quote-text h2{
        font-size: 20px;
        text-align: center;
    }
    .main-quote-text h3{
        font-size:16px;
        text-align: center;
    }
    .main-quote-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }
    .item-bg, .item-bg2, .item-bg3 {
        width: 100%;
    }
    .img-item-1, .img-item-2, .img-item-3, .img-icon-1, .img-icon-2, .img-icon-3{
        width: 50%;
    }
    .main-product-img.item-bg2 {
        order: 1;
    }
    .main-product-img.img-item-2 {
        order: 2;
    }
    .main-product-img.img-icon-2{
        order:3;
    }
    .main-product-img.item-bg3 {
        order: 4;
    }
    .main-product-img.img-icon-3 {
        order: 5;
    }
    .main-product-img.img-item-3 {
        order: 6;
    }
}
@media only screen and (max-width : 620px) {
    .img-item-1, .img-item-2, .img-item-3{
        width: 60%;
     }
    .img-icon-1, .img-icon-2, .img-icon-3{
        width: 40%;
    }
}
@media only screen and (max-width : 510px) {
    .subtitle-block{
        display: flex;
        text-align: -webkit-auto;
        justify-content:center;
    }
    .subtitle-block ul{
        display: flex;
        flex-direction: column;
    }
    .arrow-right{
        right: 5px;
    }
    .arrow-left{
        left: 5px
    }
    .arrows{
        top: 40%;
        font-size:46px;
    }
    .slider-content-text h2{
        font-size:18px;
    }
    .slider-content-text h1{
        font-size:15px;
    }
    .slider-content-text p{
        font-size:12px;
        text-align: center;
    }
    .text{
        border-bottom: 2px solid #e6e6e6;
        border-right: none;
        margin-top: 7px;
        padding-bottom: 7px;
    }
    .text-item{
        display: flex;
        flex-direction: column;
    }
    .main-product-img {
        height: 354px;
    }
    .product-title{
        height: 354px;
    }
    .product-title h2, .battery{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .product-title p{
        font-size:14px;
        line-height: 24px;
    }
    .img-item-1, .img-item-2, .img-item-3, .img-icon-1, .img-icon-2, .img-icon-3{
        height: 254px;
        width:50%;
    }
    .img-item-1 img, .img-item-2 img, .img-item-3 img {
        height: 254px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .contact-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	.contact-information{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-quote-container {
        height: 160px;
    }
    .main-quote-text h2{
        font-size: 16px;
    }
    .main-quote-text h3{
        font-size:14px;
    }
}
@media only screen and (max-width : 350px) {
    .call, .address{
        font-size:13px;
    }
    .img-icon-1 img, .img-icon-2 img{
        width:100px;
    }
    .img-icon-3 i{
        font-size:120px;
    }
    .img-item-1, .img-item-2, .img-item-3{
        width: 60%;
    }
    .img-icon-1, .img-icon-2, .img-icon-3{
        width: 40%;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}